$gradient_first: #535353;
$gradient_end: #3e3e3e;

*{
  margin: 0;
  padding: 0;
}
body{
  background-color: #454545;
  color: #d7d7d7;
  overflow: hidden;
  font: 11px arial, helvetica, "メイリオ", Meiryo, "ＭＳ Ｐゴシック", clean, sans-serif;
}
.container{
  padding: 5px;
}

button {
  padding: 1px 0;
  width: 70px;
  color: #d7d7d7;
  font-size: 11px;
  border: 1px solid #151515;
  background: -webkit-linear-gradient(top, $gradient_first, $gradient_end);

  &:enabled:hover {
    &:hover {
      background: -webkit-linear-gradient(top, #636363, #4e4e4e);
    }
    &:active{
      border: 1px solid #c69100;
    }
  }
  &:disabled{
    color: #686868;
  }
}

#canvas_color_sampler{

  .container{
    .area{
      float: left;
      width: 150px;
      .frame{
        $background-color: #333333;
        position: relative;
        .palette{
          float: left;
          background-color: $background-color;
          .line{
            .cell{
              $size: 10px;
              width: $size;
              height: $size;
              border: 1px solid $background-color + #222222;
            }
            .cell.active{
              border: 1px solid $background-color + #555555;
            }
            .cell.editable{
              &:hover {
                cursor: pointer;
                border: 1px solid $background-color + #999999;
              }
            }
          }
        }
        .scroll{
          position: absolute;
          left: 118px;
          height: 100%;
          .button{
            background-color: $background-color;
            width: 15px;
            margin-bottom: 2px;
          }
        }
      }
      .scan_button{
        margin-top: 5px;
        margin-left: 20px;
      }
    }
    .area.before{
    }
    .to{
      float: left;
      margin-right: 20px;

      .arrow{
        $background-color: #333333;
        background-color: $background-color;
        margin-top: 50px;
        color: $background-color + #111111;
      }
    }
    .area.after{
    }
  }
  .clear_button{

  }
}
#palette_changer{
}

.clear{
  clear: both;
}

